<!DOCTYPE html>

<html lang="en">
  <head>
      <style type="text/css">
    .title {
        color: blue;
        text-decoration: bold;
        text-size: 1em;
    }

    body {
    background-color: lightseagreen;

}
    a:link {
    navbutton_next_pushed: red;
}
    body {
    color: black;
}

h1 {
    color: white;
}

    </style>

    <link rel="icon" href="http://earsiv.sehir.edu.tr:8080/xmlui/themes/Mirage/images/favicon.ico">

    <title>University Database</title>

  </head>

  <body>
  <fieldset>
    <legend> <h1>Add Student </h1></legend>
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
  </fieldset>
  <button href="/teacher/">Add Teacher</button>   <br> <button href="/teachers/">Show All Teachers</button> <br>
<button href="/cource/">Add Cource</button>   <br> <button href="/cources/">Show All Cources</button> <br>
